/* Write your CSS here */
.team-container {
  background-image: linear-gradient(to bottom, #a4261d, #d91c1f, #1e293b);
  background-size: cover;
  height: 100vh;
  padding: 10px;
  text-align: center;
  overflow: auto;
}
.banner-image {
  width: 95%;
  text-align: center;
}
.heading1 {
  text-align: left;
  color: #ffffff;
}
.recent-matches-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
